/* header */
.brk-header-mobile-wrap__logo img {
    width: 110px;
}

/* brk-user */
.brk-user {
    display: inline-block;
    font-size: 0.875rem; }
@media (min-width: 992px) {
    .brk-user {
        height: 100%;
        margin: 0 5px;
        width: 30px; }
    .brk-user.brk-location-screen-right:not(.brk-user_interactive) .brk-user__block {
        right: -15px; }
    .brk-header_vertical .brk-user.brk-location-screen-right:not(.brk-user_interactive) .brk-user__block {
        right: 100%; }
    .brk-user.brk-location-screen-right:not(.brk-user_interactive) .brk-user__block:before {
        right: 22px; }
    .brk-user.brk-location-screen-left:not(.brk-user_interactive) .brk-user__block {
        left: -15px; }
    .brk-header_vertical .brk-user.brk-location-screen-left:not(.brk-user_interactive) .brk-user__block {
        left: 100%; }
    .brk-user.brk-location-screen-left:not(.brk-user_interactive) .brk-user__block:before {
        left: 22px; }
    .brk-user:not(.brk-user_interactive) {
        position: relative; } }

@media (min-width: 992px) {
    .brk-user:not(.brk-user_interactive) .brk-user__block {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: -webkit-calc(100% - 30px) 0;
        transform-origin: calc(100% - 30px) 0;
        -webkit-transition-property: opacity, visibility, \transform;
        transition-property: opacity, visibility, \transform;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        z-index: 98;
        position: absolute;
        top: 100%;
        width: -webkit-calc(100vw - 60px);
        width: calc(100vw - 60px);
        max-width: 300px;
        height: auto;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12), inset 0 -3px var(--brk-base-6); }
    .brk-header_style-2 .brk-user:not(.brk-user_interactive) .brk-user__block {
        box-shadow: none; }
    .brk-user:not(.brk-user_interactive) .brk-user__block:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -8px;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        z-index: 9; }
    .brk-header-mobile-wrap .brk-user:not(.brk-user_interactive) .brk-user__block:before {
        /* ----------------- brk-header-mobile-wrap ----------------- */
        display: none; }
    .brk-header_vertical .brk-user {
        width: 68px;
        height: 68px;
        margin: 0;
        font-size: 1.5rem; } }
.brk-header-mobile-wrap .brk-user {
    /* ----------------- brk-header-mobile-wrap ----------------- */
    display: block;
    padding: 0 !important;
    margin: 0 !important; }
@media (min-width: 992px) {
    .brk-user:hover:not(.brk-user_interactive) .brk-user__block {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-timing-function: cubic-bezier(0.17, 0.89, 0.27, 1.19);
        transition-timing-function: cubic-bezier(0.17, 0.89, 0.27, 1.19);
        -webkit-transition-duration: .28s;
        transition-duration: .28s; } }
.brk-user__open {
    position: relative;
    cursor: pointer; }
@media (min-width: 992px) {
    .brk-user__open {
        height: inherit; } }
.brk-header_color-white .brk-user__open {
    color: #fff; }
.brk-header_color-dark .brk-user__open {
    color: #272727; }
.brk-header_scroll .brk-header__main-bar .brk-user__open {
    color: #272727 !important; }
.brk-header-mobile-wrap .brk-user__open {
    /* ----------------- brk-header-mobile-wrap ----------------- */
    color: #272727;
    padding-left: 30px;
    text-align: left; }
.brk-user__open i {
    vertical-align: 0; }
@media (min-width: 992px) {
    .brk-user__open i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
@media (max-width: 991px) {
    .brk-user__open i {
        line-height: 40px; } }
.brk-header-mobile-wrap .brk-user__open i {
    /* ----------------- brk-header-mobile-wrap ----------------- */
    color: #b6b6b6; }
.brk-user__title {
    font-size: 1rem;
    color: #272727;
    display: inline-block;
    font-weight: bold;
    padding-left: 12px;
    line-height: 42px; }
@media (min-width: 992px) {
    .brk-user__title {
        display: none; } }
.brk-user__block {
    width: 100%; }
@media (min-width: 992px) {
    .brk-user_interactive .brk-user__block {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: -webkit-calc(100% - 30px);
        width: calc(100% - 30px);
        height: 100%;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        z-index: 999; }
    .brk-user_interactive .brk-user__block.active {
        opacity: 1;
        visibility: visible; }
    .brk-header_vertical .brk-user__block {
        top: 0 !important;
        left: 100%;
        right: auto !important; }
    .brk-header_vertical .brk-user__block:before {
        display: none !important; } }
.brk-header-mobile-wrap .brk-user__block {
    /* ----------------- brk-header-mobile-wrap ----------------- */
    display: none;
    margin-top: 15px; }
/* brk-user */

/*custom brk-user*/
.brk-user__block .brk-user__content .user-info {
    display: flex;
    align-items: center;
    padding: 30px;
}
.brk-user__block .brk-user__content a {
    display: inline-block;
    margin-right: 5px !important;
}
.brk-user__block .brk-user__content .user-info img {
    border-radius: 50%;
    width: 60px;
}
.brk-user__block .brk-user__content .user-info-wrapper {
    padding-left: 30px;
}
.brk-user__block .brk-user__content .user-name {
    font: 400 0.9rem "Open Sans";
}
.brk-user__block .brk-user__content .user-links {
    font: 600 0.8rem "Open Sans";
    margin-top: 2px;
}
.brk-user__block .brk-user__content .user-name span {
    display: block;
    color: #7a7a7a;
}
/*end custom brk-user*/

/*form controls*/
.brk-form-round .jq-selectbox__dropdown ul li {
    color: rgba(var(--brk-dark-base-rgb), 0.6);
}
.brk-form-round .jq-selectbox__dropdown ul li[class=disabled] {
    color: rgba(var(--brk-dark-base-rgb), 0.4);
}
.brk-form-round .jq-selectbox__select {
    color: rgba(var(--brk-dark-base-rgb), 0.6);
}
