/*body*/
body,
body a,
.font__family-montserrat{
    font-family: "Open Sans", "Montserrat", "JF Flat Regular", sans-serif;
}
.font__family-montserrat {
    font-family: "Montserrat", "JF Flat Regular", sans-serif;
}
.font__family-montserrat-alt {
    font-family: 'Montserrat Alternates',  "JF Flat Regular", sans-serif;
}

/*form*/
.slim {
    border-radius: 25px;
}
