/*body*/
body,
body a {
    font-family: "Open Sans", "Montserrat", "JF Flat Regular", sans-serif !important;
}
.font__family-montserrat {
    font-family: "Montserrat", "JF Flat Regular", sans-serif !important;
}
.font__family-montserrat-alt {
    font-family: 'Montserrat Alternates',  "JF Flat Regular", sans-serif !important;
}

/*header*/
.brk-header-mobile-wrap__logo img {
    width: 110px;
}

.custom-header.brk-header-mobile:not(.brk-header-mobile_scroll) img.logo,
.custom-header.brk-header:not(.brk-header_scroll) img.logo {
    filter: brightness(0) invert(1) !important;
}

.custom-header.brk-header-mobile.brk-header-mobile_scroll img.logo,
.custom-header.brk-header.brk-header_scroll img.logo {
    filter: none !important;
}

.syssr-user-menu{
    max-width: 350px;
}

/*form controls*/

.brk-form-round .jq-selectbox__dropdown ul li {
    color: rgba(var(--brk-dark-base-rgb), 0.6);
}
.brk-form-round .jq-selectbox__dropdown ul li[class=disabled] {
    color: rgba(var(--brk-dark-base-rgb), 0.4);
}
.brk-form-round .jq-selectbox__select {
    color: rgba(var(--brk-dark-base-rgb), 0.6);
}

.jq-selectbox.disabled .jq-selectbox__select {
    background: #e2e2e21a;
}

.brk-form-strict [type="text"]:not([disabled]), .brk-form-strict [type="search"]:not([disabled]), .brk-form-strict [type="password"]:not([disabled]), .brk-form-strict [type="email"]:not([disabled]), .brk-form-strict [type="tel"]:not([disabled]), .brk-form-strict textarea:not([disabled]) {
    font-size: 1rem;
}

.form-group.req label:not(.radio-inline):after, span.req:after {
    font-family: monospace;
    position: absolute;
    content: "*";
    color: #F44336 !important;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
}

.icon__btn-xs {
    margin: 0 10px;
    width: 25px;
    height: 25px;
}

/*slim*/
.slim {
    border-radius: 25px;
}

/*bootstrap-tagsinput*/
.bootstrap-tagsinput {
    min-height: 54px;
    border: 2px solid rgba(205, 205, 205, 0.2);
    border-radius: 27px;
}
.bootstrap-tagsinput .badge {
    margin: 10px;
}
.twitter-typeahead {
    margin: 6px;
}
.twitter-typeahead .tt-input {
    width: auto !important;
    height: 30px !important;
}

/*intlTelInput*/
.iti { width: 100%; }
.iti__selected-flag {
    outline: none;
    padding: 0 25px 0 25px;
    border-radius: 50px 0 0 50px;
}
.iti__country-list {
    z-index: 999;
}
.iti.iti--container {
    width: 90%;
}
.iti-mobile .iti--container {
    left: 5%;
    right: 5%;
}

/*summer note*/
.note-editor {
    border-color: #e8e8e8;
    z-index: 0;
}
.note-editor.note-frame {
    border: 1px solid #e4e4e4;
}
.note-editor .btn-sm {
    padding: 4px 10px;
    box-shadow: #00000029 1px 1px 1px;
}
.note-editor .note-toolbar {
    background: #fff;
    border: 0;
}

/*datatable*/
.brk-tables table.dataTable {
    box-shadow: 0 6px 30px rgba(0,0,0,.12);
}
.brk-tables table.dataTable tbody tr {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.brk-tables table.dataTable tbody tr:nth-child(2n+1) {
    background-color: #f8fafe;
    border: none !important;
}
.dataTables_filter .brk-form-wrap {
    margin-top: 0;
}

.brk-tables-avatar tr td {
    vertical-align: middle;
}
.table-avatar {
    max-width: 50%;
    border-radius: 50%;
}

/*extra*/
.facebook-color {
    background-image: none !important;
    color: #3B5998 !important;
}
.facebook-bg-color {
    background-image: none !important;
    background-color: #3B5998 !important;
}
.linkedin-color {
    background-image: none !important;
    color: #007bb5 !important;
}
.linkedin-bg-color {
    background-image: none !important;
    background-color: #007bb5 !important;
}
.github-color {
    background-image: none !important;
    color: #333 !important;
}
.github-bg-color {
    background-image: none !important;
    background-color: #333 !important;
}
